:root {
  --text-color-side: #f8fafc;
  --text-color-primary: #f8fafc;
  --text-color-secondary: #f8fafc;

  --accent-color: #0f172a;
  --bg-color-300: #475569;
  --bg-color-700: #334155;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color-primary: #121212;
    --text-color-secondary: #323232;
    --accent-color: #0ea5e9;
    --bg-color-300: #f8fafc;
    --bg-color-700: #cbd5e1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-color-300);
  color: var(--text-color-primary);
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  color: var(--text-color-side);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 60px;
  padding: 20px 17px 10px 17px;
  font-size: 1.75rem;
  height: 100vh;
  background-color: var(--accent-color);
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.33);
  z-index: 10;
  border-radius: 0 10px 10px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.menu > div {
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.menu > button {
  border-radius: 10px;
  padding: 5px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.menu > button.home {
  background-color: rgba(0, 0, 0, 0.06);
}

.menu > button:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.menu > button:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.empty-space {
  height: 36px;
}

.side-para {
  font-size: 1.5rem;
  font-weight: 700;
}

.copyright {
  position: absolute;
  bottom: 15px;
  left: 17px;
  font-weight: 300;
  font-size: 1rem;
}

.main {
  height: 100vh;
}
